.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #ebedef;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app {
  display: flex;
  min-height: 100vh;
  background-color: #ebedef;
}

.content {
  flex: 1;
  padding: 20px;
  background-color: #ebedef;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 20px;
  background-color: #ebedef;
  border-bottom: 1px solid #ccc;
}

.search-bar input {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-left: 10px;
}

/* Button row styles */
.button-row {
  display: flex;
  justify-content: space-evenly;
  margin: 20px 0;
}

.button-row button {
  background-color: #f0b63a;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button-row button:hover {
  background-color: #d99c2f;
}

